<section class='post_contain'>
  <div class="whole-post">
    <div class="post_header">
      <h3><%= @post.title %> by <%= @user.name %></h3>
      <%= render 'layouts/alerts' if notice %>
      <div class="comments-likes">
        <p>Comments: <%= @post.comments_counter %></p>
        <p>Likes: <%=  @post.likes_counter %></p>
        <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>

        <%= form.submit "Like this post", class: "button"%>
        <% end %>
      </div>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="all-comms">

    <% @post.comments.each do |comment| %>
    <div class="com-btn">
      <p><%= @user.name %> : <%= comment.text %></p>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete Comment', "/posts/:post_id/comments/#{params[:id]}", method: :delete, params: { comment_id: comment.id} %>
    <%end%>
    </div>
    <%end%>

    <%= render 'layouts/alerts' if notice %>
    <%= render partial: "create_comments" %>
    
  </div>
</section>